<footer>
  <div class="footer-section">
    <h3>About ICrafter</h3>
    <p>
      ICrafter is a platform where individuals can craft and share their unique
      collections based on their interests, passions, and hobbies.
    </p>
    <hr />
  </div>
  <div class="copyright">
    <p>&copy; 2024 ICrafter. All rights reserved.</p>
  </div>
</footer>
