<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>ICrafter | Contact</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <main>
      <div class="contactUs">
        <h1>Contact Us</h1>

        <p>
          We're here to help and answer any questions you might have. Feel free
          to reach out to us using the contact information below:
        </p>
        <div class="contactDetails">
          <div>
            <h2>Email:</h2>
            <p>
              For general inquiries:
              <a href="mailto:info@icrafter.com">info@icrafter.com</a><br />
              For support:
              <a href="mailto:support@icrafter.com">support@icrafter.com</a>
            </p>

            <h2>Phone:</h2>
            <p>Customer support hotline: +1 (555) 123-4567</p>

            <h2>Address:</h2>
            <p>
              ICrafter Headquarters<br />
              123 Crafting Street<br />
              Creative City, CR 12345<br />
              Craftland
            </p>
          </div>
          <div>
            <h2>Social Media:</h2>
            <p>
              Connect with us on social media for the latest updates and
              community highlights:<br />
              Twitter:
              <a href="twitter.com/icrafter" target="_blank"
                >@ICrafter</a
              ><br />
              Instagram:
              <a href="instagram.com/icrafter" target="_blank"
                >@ICrafterOfficial</a
              ><br />
              Facebook:
              <a href="facebook.com/icrafter" target="_blank"
                >ICrafter</a
              >
            </p>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
