<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>ICrafter | Home</title>
  </head>
  <body>
    <main>
      <%- include('./partials/navbar.ejs') %>
      <div class="hero">
        <div class="heroContents">
          <h1>Welcome to ICrafter: Crafting Connections Through Interests!</h1>
          <p>
            At ICrafter, we believe that everyone is a curator of their own
            unique interests, and we're here to provide a platform where these
            passions can shine. ICrafter is more than just a website; it's a
            vibrant community of individuals who celebrate the joy of crafting
            their own collections.
          </p>
        </div>
      </div>
      <section class="left">
        <div>
          <h1>What Sets Us Apart:</h1>
          <p>
            At the heart of ICrafter is the idea that interests are as diverse
            as the people who hold them. Whether you're a bookworm, movie buff,
            food enthusiast, or travel addict, ICrafter empowers you to curate
            and share your own collections with the world. Our platform is
            designed for those who want to express themselves, connect with
            like-minded individuals, and discover new passions along the way.
          </p>
        </div>
        <div
          id="firstImg"
          style="
            background-image: url(https://www.aimprosoft.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2023/06/Cover-3.jpg.webp);
          "
        ></div>
      </section>
      <section class="right">
        <div>
          <h1>Crafting Your Collections:</h1>
          <p>
            Creating your collection on ICrafter is a breeze. From personalizing
            themes to adding items with detailed descriptions, you have the
            freedom to showcase your unique style and interests. Share your
            collections publicly to inspire others or keep them private for your
            personal enjoyment. With our collaborative features, you can even
            team up with friends to craft collections together, making ICrafter
            a place where creativity knows no bounds.
          </p>
        </div>
        <div
          id="firstImg"
          style="
            background-image: url(https://media.istockphoto.com/id/1487721103/vector/black-man-hand-lifting-up-a-school-afro-boy-to-reach-for-the-star.jpg?s=612x612&w=0&k=20&c=0BwMqCPbMLjxQvVTv6ojAhrwjDRcOSrkn24aI-CCyUs=);
          "
        ></div>
      </section>
      <section class="left">
        <div>
          <h1>Discover, Engage, Connect:</h1>
          <p>
            Explore the vast and eclectic world of interests on our platform.
            From trending collections to hidden gems, the ICrafter community is
            filled with inspiration waiting to be discovered. Engage with other
            curators by leaving comments, liking items, and building connections
            based on shared passions. ICrafter is more than a platform; it's a
            lively community where interests come to life.
          </p>
        </div>
        <div
          id="firstImg"
          style="
            background-image: url(https://media.istockphoto.com/id/625736338/photo/stack-of-hands-showing-unity.jpg?s=612x612&w=0&k=20&c=20mAQjGRQ5XVKqHe2qFguqGZ4dwto6lxxinciCfnVI0=);
          "
        ></div>
      </section>
      <section class="right">
        <div>
          <h1>Join the ICrafter Community:</h1>
          <p>
            Whether you're an avid collector, a casual browser, or someone
            looking to connect with people who share your passions, ICrafter
            welcomes you with open arms. Join us on this journey of
            self-expression, discovery, and connection. Let's craft a world
            where interests bring us together.
          </p>
        </div>
        <div
          id="firstImg"
          style="
            background-image: url(https://www.sheknows.com/wp-content/uploads/2020/06/swinging-couples-share-truths-copy.jpg?w=695&h=391&crop=1);
          "
        ></div>
      </section>
    </main>
    <%- include('./partials/footer.ejs')%>
    <script src="navbarBehavior.js"></script>
  </body>
</html>
